spring:
  application:
    name: notificacao

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    protocol: smtp

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false

  thymeleaf:
    enabled: true

envio:
  email:
    remetente:
    nomeRemetente: 'Kristian'

server:
  port: 8082